$bg_dark: #1e1f2c;
$secondary_dark: #212531;
$border_dark: #636071;

// Buttons
$primary_mauve: #9E74FD;
$primary_pink: #D993D1;

// Button colors (ADMIN)
$lightblue: #2FA8ED;
$red: #E80C4E;
$green: #399E29;

// Police colors
$dark: #494949;
$light: #fff;

// App
$primary_blue: #306BDD;

// Shadow
$shadow_top: 0px -6px 26px -6px rgba(0, 0, 0, 0.3);
$shadow_bottom: 0px 6px 26px 6px rgba(0, 0, 0, 0.3);

// App colors
$lavender: #D6D8E4;
$mint: #E7F3EC;
$blue: #A5E5FA;
$lightgray: #D3D4D8;
$orange: #F9B590;