$bg_dark: #1e1f2c;
$secondary_dark: #212531;
$border_dark: #636071;

// Buttons
$primary_mauve: #9E74FD;
$primary_pink: #D993D1;

// Card colors
$steelblue: #4A86A8;
$lightblue: #2FA8ED;
$orange: #FA823C;
$red: #E80C4E;
$yellow: #e0dc04;
$salmon: #ffa99e;
$green: #399E29;

// Police colors
$dark: #494949;
$light: #fff;

// App
$primary_blue: #306BDD;