$bg_dark: #1e1f2c;
$secondary_dark: #212531;
$border_dark: #636071;

// Buttons
$primary_mauve: #9E74FD;
$primary_pink: #D993D1;

// Card colors
$blue_midnight: #081C72;
$lightblue: #2a16bc;
$falls: #c16120;
$yellow: #e0dc04;
$salmon: #ffa99e;
$green: #42C78D;