a {
    width: 48px;
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;

    &.router-link-active {
        &::after {
            content: "";
        }
    }
}